In [2]:
from pandas import read_excel, Series, concat
import numpy as N

In [3]:
def value_index(df, value, integer=False):
    for i, row in df.iterrows():
        for j, col in row.iteritems():
            if col != value: continue
            if integer:
                i = df.index.get_loc(i)
                j = df.columns.get_loc(j)
            return (i,j)

In [74]:
df = read_excel('//wsl$/Ubuntu-20.04/home/bbruck/Sparrow-WiscAr/Data/Noblesse-test-data/Complete data_Cooper_biotite_Aug2019.xlsx')
df.columns = range(df.columns.size)
#get index for column labels
ixcl = value_index(df, "N")
#create dataframe from column labels, and drop those from df
label = (df.iloc[ixcl[0],:])
label.iloc[0] = 'omit' 
df = df.drop([ixcl[0]-1,ixcl[0],ixcl[0]+1])

In [75]:
def sample_index(df):
 
    return pos

In [127]:
def separate_samples(df):    
    #identify the instances of Sample: in the file
    ixs = list()
    result = df.isin(["Sample:"])
    series = result.any()
    columnNames = list(series[series == True].index)
    for col in columnNames:
        rows = list(result[col][result[col] == True].index)
        for row in rows:
            ixs.append((row, col))
    #create a dictionary to hold the dataframes for each sample        
    sdf = {}
    #fill the dicitonary
    for i in range(len(ixs)):
        try:
            sdf[i] = (df.loc[ixs[i][0]:ixs[i+1][0]-1,:]
                .dropna(axis=0, how='all')
                .dropna(axis=1, how='all'))
        except:
            sdf[i] = (df.loc[ixs[i][0]:,:]
                .dropna(axis=0, how='all')
                .dropna(axis=1, how='all'))
    return sdf

test = separate_samples(df)
print(test[0])

                          0          1        2        3          4   \
0                        NaN    Sample:  SID1602      NaN        NaN
1                        NaN  Material:  Biotite      NaN        NaN
5                        NaN        01A     0.28  33.2066    4.20048
6                        NaN        01B     0.33  37.2442    1.17039
7                        NaN        01C     0.41  38.5354   0.545905
8                        NaN        01D     0.55  38.5653    0.21631
9                        NaN        01E      0.7   38.861   0.196613
10                       NaN        01F     0.85  38.7148   0.156226
11                       NaN        01G        1  38.7763   0.148736
12                       NaN        01H      1.2  38.7935   0.110475
13                       NaN        01I      1.4  38.5724  0.0943616
14                       NaN        01J      1.6  38.5445   0.076698
15                       NaN        01K     1.85  38.6901   0.180441
16                       NaN        01L      2.1  38.6058   0.161765
17                       NaN        01M     2.35  37.5289   0.804651
18       Integrated K/Ca ±2σ        NaN      NaN      NaN        NaN
19           Plateau Age ±2σ        NaN      NaN  38.6381  0.0836046
20  Total Integrated Age ±2σ        NaN      NaN  38.6116   0.100695
21          Isochron Age ±2σ        NaN      NaN  38.6479   0.108134
22    (40Ar/36Ar)trapped ±1σ        NaN      NaN  296.969    4.59261

             5           6          7        8         9   ...        44  \
0   Identifier:   UW145:D51        NaN      NaN       NaN  ...       NaN
1           NaN         NaN        NaN      NaN       NaN  ...       NaN
5      0.658639     0.10811    2308.69  528.363  0.278046  ...  1.96e-05
6       12.1718     8.10718   -1334.85  80.0607   1.59565  ...  1.96e-05
7       9.94446      2.6562   -17590.4  17599.6    4.2865  ...  1.96e-05
8       9.99124    0.941905    1771.69  65.6467   11.8871  ...  1.96e-05
9       20.6476     3.98395     1867.5  82.7332   18.7988  ...  1.96e-05
10      115.798     122.868    1869.25  64.0682    26.677  ...  1.96e-05
11      11.2869    0.963059    1380.54  51.1516   36.9947  ...  1.96e-05
12      10.1381    0.602652    1873.39  57.9263   50.2391  ...  1.96e-05
13      4.02347    0.103989    1976.61  66.6089   63.5649  ...  1.96e-05
14      5.28628     0.12439    1849.55  54.1277   81.8683  ...  1.96e-05
15      9.07514    0.903988    1736.65  75.2309   88.5773  ...  1.96e-05
16      3.08007    0.080783    1857.43  65.4586   98.6115  ...  1.96e-05
17      37.4621     73.3243    2795.66  359.669       100  ...  1.96e-05
18      6.66952    0.241697         SD      NaN       NaN  ...       NaN
19      n=13/13  MSWD=0.967  steps A-M      NaN       NaN  ...       NaN
20          NaN         NaN        NaN      NaN       NaN  ...       NaN
21          NaN  MSWD=1.047        NaN      NaN       NaN  ...       NaN
22          NaN         NaN        NaN      NaN       NaN  ...       NaN

         45        46     47   48   49    50   51     52   53
0       NaN       NaN    NaN  NaN  NaN   NaN  NaN    NaN  NaN
1       NaN       NaN    NaN  NaN  NaN   NaN  NaN    NaN  NaN
5   1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
6   1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
7   1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
8   1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
9   1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
10  1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
11  1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
12  1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
13  1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
14  1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
15  1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
16  1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
17  1.6e-06  0.000265  4e-06  263    0  2.32    0  0.227    0
18      NaN       NaN    NaN  NaN  NaN   NaN  NaN    NaN  NaN
19      NaN       NaN    NaN  NaN  NaN   NaN  NaN    NaN  NaN
20      NaN       NaN    NaN  NaN  NaN   NaN  NaN    NaN  NaN
21      NaN       NaN    NaN  NaN  NaN   NaN  NaN    NaN  NaN
22      NaN       NaN    NaN  NaN  NaN   NaN  NaN    NaN  NaN

[20 rows x 54 columns]

In [77]:
def sample_info(df):
        # Get the upper-left index of several subtables
        ixa = value_index(df, "Sample:")
        ixb = value_index(df, "Material:")
        ixc = value_index(df, "Identifier:")
        sample = (df.iloc[ixa[0]:ixb[0]+1,:]
            .dropna(axis=0, how='all')
            .dropna(axis=1, how='all'))
        sample.at[ixb[0]+1,ixb[1]] = sample.at[ixc]
        sample.at[ixb[0]+1,ixb[1]+1] = sample.at[ixc[0],ixc[1]+1]
        sample = sample.drop([ixc[1],ixc[1]+1], axis=1)
        return(sample)

In [95]:
def extract_incremental_table(df):
    #get index of top of the table
    ixb = value_index(df, "Material:")
    ixd = value_index(df, "Integrated K/Ca ±2σ")
    # Clean the table
    results = (df.loc[ixb[0]+1:ixd[0]-1,0:]
            .dropna(axis=0, how='all'))
    results.set_axis([label], axis=1, inplace=True)        
    return results

In [124]:

    

test = separate_samples(df)
t2 = extract_summary(test[5])
#t3 = extract_summary(test[5])
print(t2)
#print(t3)
#t2 = extract_summary(test[0])
#print(t2)

                            0        3         4        5        6    7
142       Integrated K/Ca ±2σ      NaN       NaN  8.92151  1.20349   SD
143  Total Integrated Age ±2σ  281.034  0.273761      NaN      NaN  NaN